{* This is the welcome page, you can delete it *}
{block styles}
	<link rel="stylesheet" href="{$basePath}/css/home.css">
{/block}
{block content}
	<h1 hidden>Nauc.me</h1>
	<div id="main">
		<a n:href="Learn:default" title="CHCI SE NAUČIT">
			<h2 id="learn" >CHCI SE NAUČIT</h2>
		</a>
		<a n:href="Sign:in" title="CHCI UČIT">
			<h2 id="teach">CHCI UČIT</h2>
		</a>
	</div>
	</body>
{/block}
