{define content}
    <div id="sign">
        <div id="signForm" class="contactForm">
            <h1 class="signH1">Kontakt na lektora</h1>
            <div id="lectorContact">
                <p>E-mail: {$contact["email"]}</p>
                <p>Telefonní číslo: {$contact["phone"]}</p>
            </div>
        </div>
    </div>
{/define}