{block styles}
    <link rel="stylesheet" href="{$basePath}/css/learn.css">
{/block}
{block content}
<div id="main">
    <h1>LEKTOŘI</h1>
</div>

<div id="teachers">
    {foreach $teachers as $teacher}
        <div id="teacher">
            <h2>{$teacher->name} {$teacher->surname}</h2>
            <p id="first">{$teacher->knowledge_type}</p>
            <p>{$teacher->knowledge_desc}</p>
            <p>{$teacher->price},-</p>
            <a n:href="Learn:show $teacher->id">CHCI SE NAUČIT</a>
        </div>
    {/foreach}
</div>

<footer class="pagination">
    {if !$paginator->isFirst()}
        <a n:href="default, $paginator->page-1">Předchozí</a>
        &nbsp;|&nbsp;
    {/if}

    Stránka {$paginator->page} z {$paginator->pageCount}

    {if !$paginator->isLast()}
        &nbsp;|&nbsp;
        <a n:href="default, $paginator->page+1">Další</a>
    {/if}
</footer>