{define content}
    <div id="sign">
        <div id="signForm" class="learnForm">
            <h1 class="signH1">Chci se naučit</h1>
            {control learningForm}
        </div>
    </div>
{/define}