{block styles}
    <link rel="stylesheet" href="{$basePath}/css/learn.css">
{/block}
{block content}
<a n:href="Sign:out">Odhlásit se</a>
<div id="main">
    <h1>ZÁJEMCI O VÁŠ KURZ</h1>
</div>

<div id="teachers">
    {foreach $candidates as $candidate}
        <div id="teacher">
            <h2>{$candidate->name} {$candidate->surname}</h2>
            <p>{$candidate->email}</p>
            <p>{$candidate->phone}</p>
        </div>
    {/foreach}
</div>

<footer class="pagination">
    {if !$paginator->isFirst()}
        <a n:href="default, $paginator->page-1">Předchozí</a>
        &nbsp;|&nbsp;
    {/if}

    Stránka {$paginator->page} z {$paginator->pageCount}

    {if !$paginator->isLast()}
        &nbsp;|&nbsp;
        <a n:href="default, $paginator->page+1">Další</a>
    {/if}
</footer>