<html lang="cs">
<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Máte nového zájemce</h1>
<p>Jméno a příjmení: {$name} {$surname}</p>
<p>E-mail: {$email}</p>
<p>Telefonní číslo: {$phone}</p>
</body>
</html>