{define content}
    <div id="sign">
        <div id="signForm" class="signInForm">
            <h1 class="signH1">Přihlášení</h1>
            {control signInForm}
            <a n:href="Sign:up">Zaregistrovat se</a>
        </div>
    </div>
{/define}