{define content}
    <div id="sign">
        <div id="signForm" class="signUpForm">
            <h1 class="signH1">Registrace</h1>
            {control signUpForm}
            <a n:href="Sign:in">Přihlásit se </a>
        </div>
    </div>
{/define}