* {
    margin: 0;
    padding: 0;
    font-family: "Arial Black";
    font-size: 70px;
}
@media screen and (min-width: 959px) {
    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: block;
    }

    a:first-child {
        -webkit-clip-path: polygon(0 0, 100vw 0, 0 100vh);
        clip-path: polygon(0 0, 100vw 0, 0 100vh);
        background: rgba(255, 255, 255, 0);
    }

    a:last-child {
        -webkit-clip-path: polygon(100% 0, 100% 100vh, 0 100vh);
        clip-path: polygon(100% 0, 100% 100vh, 0 100vh);
        background: #000000;
    }

    #learn{
        color: #000000;
        position: absolute;
        top: 25vh;
        left: 10vw;
    }
    #teach{
        color: #FFFFFF;
        position: absolute;
        bottom: 25vh;
        right: 10vw;
    }
}
@media screen and (max-width: 1112px) {
    h2{
        font-size: 60px;
    }
    #learn{
        left: 6vw;
    }
    #teach{
        right: 6vw;
    }
}
@media screen and (max-width: 959px) {
    #main {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    h2{
        position: absolute;
        right: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 30px;
        flex: 0 0 120px;
        text-align:center;
    }
    #learn{
        top: 0;
        bottom: 50%;
        left: 0;
        right: 0;
        background-color: #ffffff;
        color: #000000;

    }
    #teach{
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000000;
        color: #ffffff;
    }
}