#main{
    width: 280px;
    margin: 20px auto 40px auto;
    height: 80px;
    color: white;
    text-align: center;
    background-color: black;
}
h1{
    font-size: 60px;
    margin: auto;
    line-height: 80px;
    vertical-align: middle;
}
#teachers{
    margin: 0 auto;
    width: 1020px;
    display: block;
}
#teacher{
    display: inline-block;
    width: 300px;
    height: 100%;
    background-color: #000000;
    color: #FFFFFF;
    margin: 15px;
    text-align: center;
    font-size: 20px;
}
#teacher h2{
    margin: 20px;
}
#teacher p{
    margin: 15px;
}

#teacher a{
    border-style: solid;
    padding: 5px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
    border-color: white;
}
#teacher a:hover{
    color: #000000;
    background-color: #FFFFFF;
}
#first{
    padding: 20px 0;
    font-size: 25px;
}
footer{
    margin: 30px 0 0 0;
    display: block;
    text-align: center;
}
@media screen and (max-width: 800px) {
    #main{
        width: 280px;
        margin: 20px auto 40px auto;
        height: 80px;
        color: white;
        text-align: center;
        background-color: black;
    }
    h1{
        font-size: 60px;
        margin: 0 auto;
        line-height: 80px;
        vertical-align: middle;
    }
    #teachers{
        margin: 0 auto;
        width: 90vw;
        display: block;
    }
    #teacher{
        display: inline-block;
        width: 90vw;
        margin: 10px 0;
        height: 100%;
        background-color: #000000;
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
    }
}