html{
	font-family: "Arial Black";
}

body{
	padding: 0;
	margin: 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}

#sign{
	background-color: black;
	height: 100vh;
	width: 100vw;
	padding: 0;
}

#signForm{
	background-color: white;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
}

.signUpForm{
	width: 600px;
	height: 735px;
}

.signInForm{
	width: 600px;
	height: 305px;
}

.learnForm{
	width: 600px;
	height: 455px;
}

.contactForm{
	width: 600px;
	height: 125px;
}

#signForm input{
	width: 555px;
	height: 25px;
	font-size: 19px;
	outline-color: black;
	border-color: black;
}

#signForm input[type='checkbox']{
	width: 15px;
	height: 15px;
}

#signForm .form-check-label{
	width: 564px;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-size: 20px;
}

#signForm textarea{
	width: 551px;
	outline-color: black;
	border-color: black;
	border-width: 2px;
}

.col-sm-9{
	text-align: center;
}

.col-form-label{
	margin-left: 22px;
	font-size: 20px;
}

.form-group{
	margin-bottom: 5px;
}

.signH1{
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	margin: 10px 0 0 0;
}

.myButton {
	background-color: #ffffff;
	border: 4px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	padding: 12px 51px;
	text-decoration: none;
	width: 559px!important;
	height: initial!important;
	font-size: 40px!important;
	font-weight: bold;
}
.myButton:hover {
	transition: 0.25s;
	background-color: #000000;
	color: #ffffff;
}
.myButton:active {
	position: relative;
	top: 1px;
}

#lectorContact{

}